<table>
  <tr>
    <td width="345"><%= image_tag "Neuhaus_logo.png", :id => "logo", :style => "width:auto" %></td>
    <td width="345">

    <div align="right">
      <p class="title"><%= Spree.t("#{params[:template]}.header") %></p>
      <p class="bold"><%= Spree.t(:order_number).to_s + " " + @order.number  %></p>
      <p class="bold"> <%= @order.completed_at.to_date if @order.completed_at %></p>
    </div></td>
  </tr>
</table>
