@import "./variables.css.scss";

// Must call explicit path or else extension integration tests cannot import file.

div.container {

  #wrapper {
    width: 960px;
    background: #ffffff;
    padding-top: 20px;
  }

  #header {
    position: relative;
    margin-bottom: 0px;
    width: 960px;
    #logo {
      width: 130px;
      a img {
        padding: 5px 0px 0 5px;
      }
    }

    &.header {
      height: 160px;

      #top-nav-bar {
        margin-top: 10px;
      }

      div.top-bg1 {
        background: image-url("store/top_bg1s.png") no-repeat 0 0px;
        width: 131px;
        height: 120px;
        position: absolute;
        left: 400px;
      }
      h1.slogan1 {
        display: none;
      }
      h2.slogan2 {
        display: none;
      }
      h3.slogan3 {
        display: none;
      }
      div.random-choc {
        display: none;
      }
      div.top-contacts {
        position: absolute;
        right: 10px;
        top: 80px;
        text-align: right;

        div.phone {
          font-size: 18px;
          color: #bf2500;
          padding-bottom: 2px;
        }
        div.e-mail {
          font-size: 14px;
        }
        div.adress {
          display: none;
        }
      }
    }

    &.header-main {
      height: 390px;

      h1.slogan1 {
        display: block;
        right: 10px;
        top: 140px;
        position: absolute;
        font-size: 18px;
      }
      h2.slogan2 {
        display: block;
        left: 10px;
        top: 270px;
        font-size: 20px;
        position: absolute;
        width: 300px;
        line-height: 22px;
      }

      div.random-choc {
        display: block;
        position: absolute;
        left: 30px;
        top: 130px;
      }

      div.top-bg1 {
        background: image-url("store/top_bg1.png") no-repeat;
        width: 320px;
        height: 390px;
        position: absolute;
        left: 300px;
      }

      div.top-contacts {
        position: absolute;
        right: 10px;
        top: 240px;
        text-align: right;

        div.phone {
          font-size: 26px;
          color: #bf2500;
          padding-bottom: 10px;
        }
        div.e-mail {
          font-size: 18px;
          padding-bottom: 10px;
        }
        div.adress {
          font-size: 14px;
        }
      }
    }

    div.languageC {
      width: 200px;
      float: left;
      padding: 5px 0;
      a {
        font-size: 16px;
        width: 12px;
        display: block;
        margin: 0 5px;
        float: left;
        padding: 0 0 0 20px;

        &.eng {
          background: image-url("en.png") no-repeat 0 5px;
        }
        &.fin {
          background: image-url("fi.png") no-repeat 0 5px;
        }
      }
    }

    #top-nav-bar {
      float: right;
      li {
        &#link-to-cart {
          float: right;
          padding-left: 24px;
          background: url("cart.png") no-repeat left center;
          display: block;
          font-weight: bold;

          &:hover {
            border-color: $link_text_color;

            .amount {
              border-color: $link_text_color;
            }
          }

          a {
            font-weight: normal;
            font-size: $horizontal_navigation_font_size;
            color: $link_text_color;

            .amount {
              font-size: $horizontal_navigation_font_size + 2;
              font-weight: bold;
              border-left: 1px solid lighten($body_text_color, 60);
              padding-left: 5px;
              padding-bottom: 5px;
            }
          }
        }
      }
    }

    nav.main-nav-bar {

      height: 40px;
      bottom: 0px;
      position: absolute;
      left: 0px;

      &.sixteen.columns {
        margin: 0px 0 0 0;
        width: 100%;
        background-color: #474747;
      }
      #main-nav-bar {

        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        border: 0px;
        text-transform: none;

        li {
          position: relative;
          margin: 0 5px;
          &:hover {
            background-color: rgba(151, 0, 12, 0.81);
            > a {
              color: #ffffff !important;
            }
          }

          &.submenu {
            display: block;
          }

          div.submenu-container {
            display: none;
            position: absolute;
            background-color: #474747;
            width: 200px;
            ul {
              li {
                margin: 0;
              }
            }
          }

          a {
            cursor: pointer;
            &:hover {
              color: #ffffff !important;
            }
            color: #D3D3D3;
            font-size: 14px;
            line-height: 40px;
          }

          &:first-child {
            a {
              padding: 5px;
            }
          }

          #home-link {
            a {
              padding: 5px;
            }
          }
          &.not {
          }

          &#search-bar {
            float: right;
            background: image-url("icons/search_back.png") no-repeat 6px 8px;
            background-color: rgba(0, 0, 0, 0);
            position: relative;

            #keywords {
              width: 81px;
              height: 18px;
              float: left;
              border: 0;
              background: transparent;
              margin-top: 6px;
              margin-left: 9px;
              padding: 5px 7px;
            }

            input[type=submit] {
              width: 32px;
              height: 30px;
              float: left;
              background: none;
              border: 0;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

#sidebar {

  #taxonomies {

    ul.taxons-list {
      margin-left: 10px;

      li {
        line-height: 25px;
        a {
          font-size: 15px;
        }
        ul {
          li {
            line-height: 21px;
          }
        }
      }
    }
  }
}

#footer {
  #footer-right {
    float: right;
  }
  .paymethods {
    img {
      &:hover {

      }
      padding: 0 10px;
      filter: grayscale(100%);
    }
  }
}

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */